<% content_for :sub_menu do %>
    <%= render 'courses/sub_menu', id: @course.id, new_link: :assignments %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Assignments</h1>

<%= render 'assignments/list', assignments: @course.assignments %>